In [16]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  human
4  human

In [17]:
data['human'] = (data['whoAmI'] == 'human')*1
data['robot'] = (data['whoAmI'] == 'robot')*1

In [18]:
data

   whoAmI  human  robot
0   human      1      0
1   robot      0      1
2   human      1      0
3   human      1      0
4   human      1      0
5   robot      0      1
6   human      1      0
7   robot      0      1
8   robot      0      1
9   human      1      0
10  human      1      0
11  robot      0      1
12  robot      0      1
13  robot      0      1
14  human      1      0
15  robot      0      1
16  human      1      0
17  robot      0      1
18  robot      0      1
19  human      1      0